<!--footer-->
<div class="gs-footer">
  <div class="gs-min-wth">
    <!--友情链接-->
    <div class="friendly-link clearfix">
      <div class="inner-box">
        <span class="tag">友情链接：</span>
        <div class="m-select-box">
          <p class="label">国家部委</p>
          <ul>
            <li><a href="">选项1</a></li>
            <li><a href="">选项2</a></li>
            <li><a href="">选项3</a></li>
            <li><a href="">选项4</a></li>
            <li><a href="">选项5</a></li>
          </ul>
        </div>
        <div class="m-select-box">
          <p class="label">各省市政府</p>
          <ul>
            <li><a href="">选项1</a></li>
            <li><a href="">选项2</a></li>
            <li><a href="">选项3</a></li>
            <li><a href="">选项4</a></li>
            <li><a href="">选项5</a></li>
          </ul>
        </div>
        <div class="m-select-box">
          <p class="label">各省市政府</p>
          <ul>
            <li><a href="">选项1</a></li>
            <li><a href="">选项2</a></li>
            <li><a href="">选项3</a></li>
            <li><a href="">选项4</a></li>
            <li><a href="">选项5</a></li>
          </ul>
        </div>
        <div class="m-select-box">
          <p class="label">市（州）</p>
          <ul>
            <li><a href="">选项1</a></li>
            <li><a href="">选项2</a></li>
            <li><a href="">选项3</a></li>
            <li><a href="">选项4</a></li>
            <li><a href="">选项5</a></li>
          </ul>
        </div>
        <div class="m-select-box">
          <p class="label">县（市、区）</p>
          <ul>
            <li><a href="">选项1</a></li>
            <li><a href="">选项2</a></li>
            <li><a href="">选项3</a></li>
            <li><a href="">选项4</a></li>
            <li><a href="">选项5</a></li>
          </ul>
        </div>
        <div class="m-select-box">
          <p class="label">其他</p>
          <ul>
            <li><a href="">选项1</a></li>
            <li><a href="">选项2</a></li>
            <li><a href="">选项3</a></li>
            <li><a href="">选项4</a></li>
            <li><a href="">选项5</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--copy_right-->
    <div class="copy_right">
      <p class="link">
        <a href="">关于我们</a><span>|</span>
        <a href="">站点地图</a><span>|</span>
        <a href="">使用帮助</a><span>|</span>
        <a href="">隐私声明</a><span>|</span>
        <a href="">版权保护</a><span>|</span>
        <a href="">联系我们</a>
      </p>
      <p class="info">北京拓尔思信息技术有限公司提供技术支持</p>
      <p class="info">Copyinght(c)2012 京ICP备05002854号-1</p>
    </div>
  </div>
</div>
