<search-bar  ></search-bar>
<!--搜索结果提示-->
<div class="gs-search-tip clearfix">
  <div class="gs-min-wth">
    <p class="desc">为您找到<span class="keyword">{{keyWord}}</span>相关结果为<span class="count">{{total}}</span>个，用时<span class="time">{{spendTime}}</span>秒</p>
  </div>
</div>
<!--main-->
<div class="gs-main gs-min-wth clearfix">
  <div class="gs-main-lf lf">
    <search-list (basicInfor)="getInfor($event)">正在检索</search-list>
  </div>
  <!--右侧智能提示-->
  <div class="gs-main-rt">
    <div class="title"><span class="keyword">大数据</span>的智能推荐</div>
    <div class="m-smart-box">
      <div class="title clearfix">
        <h1 class="lf">公共公示</h1>
        <a href="" class="more rt">更多>></a>
      </div>
      <ul>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
      </ul>
    </div>
    <div class="m-smart-box">
      <div class="title clearfix">
        <h1 class="lf">点击排行</h1>
        <a href="" class="more rt">更多>></a>
      </div>
      <ul>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
      </ul>
    </div>
    <div class="m-smart-box">
      <div class="title clearfix">
        <h1 class="lf">为您推荐</h1>
        <a href="" class="more rt">更多>></a>
      </div>
      <ul>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
        <li><p><span>&middot;</span><a href="">中央网信办等三部门联合发文实施网络扶贫实施网络扶贫五</a></p></li>
      </ul>
    </div>
  </div>
</div>

